@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: url(/fonts/NotoSansKR-Thin-Hestia.woff2) format("woff2"), url(/fonts/NotoSansKR-Thin-Hestia.woff) format("woff"), url(/fonts/NotoSansKR-Thin-Hestia.eot), url(/fonts/NotoSansKR-Thin-Hestia.eot?#iefix) format("embedded-opentype"), url(/fonts/NotoSansKR-Thin-Hestia.otf) format("opentype"); }
.noto-weight-thin {
  font-weight: 100; }

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 200;
  src: url(/fonts/NotoSansKR-Light-Hestia.woff2) format("woff2"), url(/fonts/NotoSansKR-Light-Hestia.woff) format("woff"), url(/fonts/NotoSansKR-Light-Hestia.eot), url(/fonts/NotoSansKR-Light-Hestia.eot?#iefix) format("embedded-opentype"), url(/fonts/NotoSansKR-Light-Hestia.otf) format("opentype"); }
.noto-weight-light {
  font-weight: 200; }

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/NotoSansKR-Demilight-Hestia.woff2) format("woff2"), url(/fonts/NotoSansKR-Demilight-Hestia.woff) format("woff"), url(/fonts/NotoSansKR-Demilight-Hestia.eot), url(/fonts/NotoSansKR-Demilight-Hestia.eot?#iefix) format("embedded-opentype"), url(/fonts/NotoSansKR-Demilight-Hestia.otf) format("opentype"); }
.noto-weight-demilight {
  font-weight: 300; }

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/NotoSansKR-Regular-Hestia.woff2) format("woff2"), url(/fonts/NotoSansKR-Regular-Hestia.woff) format("woff"), url(/fonts/NotoSansKR-Regular-Hestia.eot), url(/fonts/NotoSansKR-Regular-Hestia.eot?#iefix) format("embedded-opentype"), url(/fonts/NotoSansKR-Regular-Hestia.otf) format("opentype"); }
.noto-weight-regular {
  font-weight: 400; }

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/NotoSansKR-Medium-Hestia.woff2) format("woff2"), url(/fonts/NotoSansKR-Medium-Hestia.woff) format("woff"), url(/fonts/NotoSansKR-Medium-Hestia.eot), url(/fonts/NotoSansKR-Medium-Hestia.eot?#iefix) format("embedded-opentype"), url(/fonts/NotoSansKR-Medium-Hestia.otf) format("opentype"); }
.noto-weight-medium {
  font-weight: 500; }

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/NotoSansKR-Bold-Hestia.woff2) format("woff2"), url(/fonts/NotoSansKR-Bold-Hestia.woff) format("woff"), url(/fonts/NotoSansKR-Bold-Hestia.eot), url(/fonts/NotoSansKR-Bold-Hestia.eot?#iefix) format("embedded-opentype"), url(/fonts/NotoSansKR-Bold-Hestia.otf) format("opentype"); }
.noto-weight-bold {
  font-weight: 700; }

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: url(/fonts/NotoSansKR-Black-Hestia.woff2) format("woff2"), url(/fonts/NotoSansKR-Black-Hestia.woff) format("woff"), url(/fonts/NotoSansKR-Black-Hestia.eot), url(/fonts/NotoSansKR-Black-Hestia.eot?#iefix) format("embedded-opentype"), url(/fonts/NotoSansKR-Black-Hestia.otf) format("opentype"); }
.noto-weight-black {
  font-weight: 900; }

.noto-sans {
  font-family: "Noto Sans KR", sans-serif; }

/*# sourceMappingURL=NotoSansKR-Hestia.css.map */
